body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;

}
h2{
    font-size: 40px;
}
#span1{
    color:orange;
}
#button1{
    
    color: white;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    background-image: linear-gradient(rgb(255, 68, 21),rgba(61, 6, 2, 0.986));



}
.section{
    display: flex;
     
}
.sec1-background{

    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    
    
}
.sec2-background{
    background-position: right;

    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    
    
}

.sec3-background{
    background-position: left;
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
    
    
}


.sec2{
    height: 600px;
    width: 50%;
    
    
}



#p1{
    text-align: justify;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;


}
.text-center{
    padding:4% 6% ;

}
.text-center2{
    padding:7% 6% ;

}
.card1{

    
    height: 60%;
    margin-left: 12%;
    margin-right: 6%;
    padding: 20px;

    border-left: 6px solid;
    border-image: linear-gradient(rgb(226, 223, 9),rgb(228, 12, 236))1;

}
.card2{


    height: 60%;
    margin-left: 6%;
    margin-right: 12%;
    padding: 20px;
    
    border-left: 6px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 5;

}

.box-shadow{
    border-radius: 5px;
    box-shadow: 5px 2px 15px 8px gray;
}

#f1{

    text-align: center;
}

